
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.App {
  margin: 0 auto;
  background-image: url('https://i.pinimg.com/564x/6b/5d/ad/6b5dad5871dd432b184aabeded212e92.jpg');
  background-size: cover;
}

/* Navigation */
nav ul {
  list-style-type: none;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #66b3ff;
}

/* Common Section Styles */
.portfolio{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 200px));
gap: 20px;
padding: 20px;

}
.gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
}
.genreSelect{
  margin: 20px;
}
.artists, .exhibitions ,.artwork{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #004080;
}

/* Grid Layout */
.artwork-grid, .artist-grid, .exhibition-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Card Styles */
.artwork-tile, .artist-tile, .exhibition-tile {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  padding-bottom: 10px;
}

.artwork-tile:hover, .artist-tile:hover, .exhibition-tile:hover {
  transform: translateY(-5px);
}

.artwork-tile img, .artist-tile img, .exhibition-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.artwork-tile h3, .artist-tile h3, .exhibition-tile h3 {
  padding: 10px 10px 5px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: #004080;
}

.artwork-tile p, .artist-tile p, .exhibition-tile p {
  margin: 0 0 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* Button Styles */
button {
  display: block;
 
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #0066cc;
  color: white;
}

button:hover {
  background-color: #08c9ef;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .artwork-grid, .artist-grid, .exhibition-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .artwork-grid, .artist-grid, .exhibition-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .artwork-grid, .artist-grid, .exhibition-grid {
    grid-template-columns: 1fr;
  }
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

input, textarea, select {
  padding: 10px;
  border: 1px solid #b3d9ff;
  border-radius: 4px;
  font-size: 16px;
}

/* Filter Styles */
.filter {
  text-align: center;
  margin-bottom: 30px;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}